@model home_budget_app.Models.Expense

@{
    ViewData["Title"] = "Szczegóły wydatku";
}

<h1>Szczegóły wydatku</h1>

<dl class="row">
    <dt class="col-sm-2">Kategoria</dt>
    <dd class="col-sm-10">@Model.Category</dd>

    <dt class="col-sm-2">Data</dt>
    <dd class="col-sm-10">@Model.Date.ToShortDateString()</dd>

    <dt class="col-sm-2">Kwota</dt>
    <dd class="col-sm-10">@Model.Amount.ToString("C")</dd>

    <dt class="col-sm-2">Komentarz</dt>
    <dd class="col-sm-10">@Model.Notes</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edytuj</a>
<a asp-action="Index" class="btn btn-secondary">Wróć</a>
